@import "tailwindcss";

@font-face {
  font-family: "aeonik";
  src: url("./font/fonnts.com-Aeonik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "aeonik";
}
